
[submodule "third-party/pistache"]
	path = third-party/pistache
	url = ../pistache.git
[submodule "third-party/libcouchbase"]
	path = third-party/libcouchbase
	url = ../libcouchbase.git
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = ../rapidjson.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = ../googletest.git
[submodule "third-party/rpclib"]
	path = third-party/rpclib
	url = ../rpclib.git
	ignore = dirty
[submodule "third-party/boost"]
	path = third-party/boost
	url = ../boost
	ignore = dirty
[submodule "third-party/libconfig"]
	path = third-party/libconfig
	url = ../libconfig.git
[submodule "third-party/udt4"]
	path = third-party/udt4
	url = ../udt.git
[submodule "third-party/grpc"]
	path = third-party/grpc
	url = https://github.com/grpc/grpc.git
[submodule "third-party/croaring"]
	path = third-party/croaring
	url = https://github.com/RoaringBitmap/CRoaring.git
