ip = "127.0.0.1";
center_id = "1";
manager_addr = "127.0.0.1";
manager_port = "9090";
log = {
    path = "/opt/hvs/var/log/hvs.log";
    level = 10;
};

//DB
bucket = {
    account_info = "account_info";
    sc_account_info = "sc_account_info";
    auth_info = "auth_info";
    zone_info = "zone_info";
    space_info = "space_info";
};

// only ioproxy node need these settings
rpc = {
  port = 9092;
  workers = 6;
  timeout = 3000;
  retry = 3;
};

ioproxy = {
    //use linux command uuid to generate your own uuid
    uuid = "a8a8eb78-8536-4bb5-a22a-c83483eff378";
    manager_addr = "127.0.0.1:9090";
    scher = 6;
    data_path = "/opt/hvs/var/data/";
    data_port = 9095;
    data_buffer = 1024000;
    data_conn = 50;
};

manager = {
    //use linux command uuid to generate your own uuid
    id = "1";
    data_path = "/opt/hvs/var/data/";
    port = 9090;
    thread_num = 6;
};

// only manager node need these settings
couchbase = {
    address = "10.134.150.195";
    user = "dev";
    password = "buaaica";
    bucket = "test";
};

// only client node need these settings
fuse = {
    mountpoint = "/mnt/hvs";
    foreground = true;
    debug = false;
    multithread = true;
    auto_unmount = true;
    use_udt = false;
};

client = {
    data_port_begin = 9096;
    data_port_end = 9150;
    data_buffer = 1024000;
    max_queue = 1500;
    onlink = 1024;
    async = true;
};